<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Dimata Aiso</display-name>
    <servlet>
        <servlet-name>BalanceSheetSummaryXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.neraca.BalanceSheetSummaryXls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportTabungan</servlet-name>
        <jsp-file>/report/simpanpinjam/tabungan.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ReportTabungan</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.report.ReportSimpanPinjam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportRangkumanTabungan</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.report.ReportSimpanPinjam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportKolektibiltas</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.report.ReportSimpanPinjam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxKredit</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.kredit.AjaxKredit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxAnggota</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.kredit.AjaxAnggota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPenjamin</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.kredit.AjaxPenjamin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxAgunan</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.kredit.AjaxAgunan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxJadwalAngsuran</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.kredit.AjaxJadwalAngsuran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaskMoney</servlet-name>
        <servlet-class>com.dimata.common.ajax.formater.MaskMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxJenisTransaksi</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.masterdata.AjaxJenisTransaksi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxTabungan</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.tabungan.AjaxTabungan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxUploadFile</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.masterdata.AjaxUploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxDocument</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.document.AjaxDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxCustomField</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.masterdata.AjaxCustomField</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxFlowModul</servlet-name>
        <servlet-class>com.dimata.common.ajax.excel.AjaxFlowModul</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelTemplate</servlet-name>
        <servlet-class>com.dimata.common.session.excel.ExcelTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPenutupan</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.transaksi.AjaxPenutupan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxSales</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.masterdata.AjaxSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMaterial</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.masterdata.AjaxMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxAnalisaKredit</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.masterdata.AjaxAnalisaKredit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintAnalisaKredit</servlet-name>
        <servlet-class>com.dimata.sedana.print.analisakredit.PrintAnalisaKredit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintKwitansi</servlet-name>
        <servlet-class>com.dimata.sedana.print.report.PrintKwitansi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintDaftarTagihan</servlet-name>
        <servlet-class>com.dimata.sedana.print.report.PrintDaftarTagihan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintPencapaianTagihan</servlet-name>
        <servlet-class>com.dimata.sedana.print.report.PrintPencapaianTagihan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxAppUser</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.kredit.AjaxAppUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxUser</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.masterdata.AjaxUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxJangkaWaktu</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.masterdata.AjaxJangkaWaktu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintPriceListPdf</servlet-name>
        <servlet-class>com.dimata.posbo.report.PrintPriceListPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxReport</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.kredit.AjaxReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BalanceSheetSummaryXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.neraca.BalanceSheetSummaryXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BalanceSheetSummaryPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.neraca.BalanceSheetSummaryPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BalanceSheetSummaryPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.neraca.BalanceSheetSummaryPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BalanceSheetPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.neraca.BalanceSheetPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BalanceSheetPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.neraca.BalanceSheetPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BalanceSheetXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.neraca.BalanceSheetXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BalanceSheetXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.neraca.BalanceSheetXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CashFlowDeptXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.aliranKas.CashFlowDeptXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CashFlowDeptXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.aliranKas.CashFlowDeptXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CashFlowDeptPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.aliranKas.CashFlowDeptPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CashFlowDeptPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.aliranKas.CashFlowDeptPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GeneralLedgerPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.bukuBesar.GeneralLedgerPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralLedgerPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.bukuBesar.GeneralLedgerPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GeneralLedgerXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.bukuBesar.GeneralLedgerXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralLedgerXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.bukuBesar.GeneralLedgerXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfitLossPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.ProfitLossPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfitLossPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.ProfitLossPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfitLossXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.ProfitLossXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfitLossXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.ProfitLossXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PLAnnualDetailPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.PLAnnualDetailPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PLAnnualDetailPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.PLAnnualDetailPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PLAnnualDetailXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.PLAnnualDetailXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PLAnnualDetailXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.PLAnnualDetailXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PLAnnualPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.PLAnnualPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PLAnnualPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.PLAnnualPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PLAnnualXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.PLAnnualXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PLAnnualXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.PLAnnualXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PLSummaryMTDYTDPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.PLSummaryMTDYTDPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PLSummaryMTDYTDPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.PLSummaryMTDYTDPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PLSummaryMTDYTDXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.PLSummaryMTDYTDXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PLSummaryMTDYTDXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.PLSummaryMTDYTDXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PLSummaryYTDWithVariancePdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.PLSummaryYTDWithVariancePdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PLSummaryYTDWithVariancePdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.PLSummaryYTDWithVariancePdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PLSummaryYTDWithVarianceXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.PLSummaryYTDWithVarianceXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PLSummaryYTDWithVarianceXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.PLSummaryYTDWithVarianceXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JournalListXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.jurnal.JournalListXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JournalListXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.jurnal.JournalListXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PLAnnualSummaryPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.PLAnnualSummaryPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PLAnnualSummaryPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.PLAnnualSummaryPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PLAnnualSummaryXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.labaRugi.PLAnnualSummaryXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PLAnnualSummaryXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.labaRugi.PLAnnualSummaryXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrialBalanceDeptPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.neracaPercobaan.TrialBalanceDeptPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrialBalanceDeptPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.neracaPercobaan.TrialBalanceDeptPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrialBalanceDeptXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.neracaPercobaan.TrialBalanceDeptXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrialBalanceDeptXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.neracaPercobaan.TrialBalanceDeptXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WorkSheetDeptPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.neracaLajur.WorkSheetDeptPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkSheetDeptPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.neracaLajur.WorkSheetDeptPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WorkSheetDeptXls</servlet-name>
        <servlet-class>com.dimata.sedana.report.neracaLajur.WorkSheetDeptXls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkSheetDeptXls</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.neracaLajur.WorkSheetDeptXls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArApDetailReportPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.arap.ArApDetailReportPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArApDetailReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.arap.ArApDetailReportPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArApReportPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.arap.ArApReportPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArApReportPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.arap.ArApReportPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AktivaPenyusutanPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.aktiva.AktivaPenyusutanPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AktivaPenyusutanPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.aktiva.AktivaPenyusutanPdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JurnalPrintPdf</servlet-name>
        <servlet-class>com.dimata.sedana.report.jurnal.JurnalPrintPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JurnalPrintPdf</servlet-name>
        <url-pattern>/servlet/com.dimata.aiso.report.jurnal.JurnalPrintPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportTabungan</servlet-name>
        <url-pattern>/report-tabungan.xls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportRangkumanTabungan</servlet-name>
        <url-pattern>/report-rangkuman-tabungan.xls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportKolektibiltas</servlet-name>
        <url-pattern>/report-kolektibilitas.xls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxKredit</servlet-name>
        <url-pattern>/AjaxKredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxAnggota</servlet-name>
        <url-pattern>/AjaxAnggota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPenjamin</servlet-name>
        <url-pattern>/AjaxPenjamin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxAgunan</servlet-name>
        <url-pattern>/AjaxAgunan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxJadwalAngsuran</servlet-name>
        <url-pattern>/AjaxJadwalAngsuran</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AjaxSetoran</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.transaksi.AjaxSetoran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxPenarikan</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.transaksi.AjaxPenarikan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMutasi</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.transaksi.AjaxMutasi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountBunga</servlet-name>
        <servlet-class>com.dimata.sedana.ajax.transaksi.CountBunga</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxSetoran</servlet-name>
        <url-pattern>/Setoran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPenarikan</servlet-name>
        <url-pattern>/Penarikan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMutasi</servlet-name>
        <url-pattern>/Mutasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountBunga</servlet-name>
        <url-pattern>/count_bunga.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaskMoney</servlet-name>
        <url-pattern>/MaskMoney.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxJenisTransaksi</servlet-name>
        <url-pattern>/AjaxJenisTransaksi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxTabungan</servlet-name>
        <url-pattern>/AjaxTabungan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxUploadFile</servlet-name>
        <url-pattern>/AjaxUploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxDocument</servlet-name>
        <url-pattern>/AjaxDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxCustomField</servlet-name>
        <url-pattern>/AjaxCustomField</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxFlowModul</servlet-name>
        <url-pattern>/AjaxFlowModul</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelTemplate</servlet-name>
        <url-pattern>/ExcelTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxPenutupan</servlet-name>
        <url-pattern>/Penutupan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxSales</servlet-name>
        <url-pattern>/AjaxSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMaterial</servlet-name>
        <url-pattern>/AjaxMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxAnalisaKredit</servlet-name>
        <url-pattern>/AjaxAnalisaKredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintAnalisaKredit</servlet-name>
        <url-pattern>/PrintAnalisaKredit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Kredit Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.dimata.microservices.kredit</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kredit Service</servlet-name>
        <url-pattern>/kredit/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.dimata.microservices.admin</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin Service</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintKwitansi</servlet-name>
        <url-pattern>/PrintKwitansi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintDaftarTagihan</servlet-name>
        <url-pattern>/PrintDaftarTagihan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintPencapaianTagihan</servlet-name>
        <url-pattern>/PrintPencapaianTagihan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxAppUser</servlet-name>
        <url-pattern>/AjaxAppUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxJangkaWaktu</servlet-name>
        <url-pattern>/AjaxJangkaWaktu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxUser</servlet-name>
        <url-pattern>/AjaxUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintPriceListPdf</servlet-name>
        <url-pattern>/PrintPriceListPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxReport</servlet-name>
        <url-pattern>/AjaxReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
